<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <div class="content unauthorized">
    <div class="top">
      <img class="img-gitlab" src="gitlab.png" width="300" title="gitlab-icon" />
      <h1><span class="fa fa-gitlab"></span> Gitlab OAuth</h1>
      <p>Authorize your app with:</p>
      <img class="img-gitlab" src="penguine.gif" width="auto" title="penguine" />
    </div>
    <div class="content-bottom">
      <a href="https://gitlab.lnu.se/oauth/authorize?<%= qs %>" class="btn btn-danger"><span
        class="fa fa-gitlab"></span> Gitlab Login</a>
    </div>
  </div>
  </div>
</body>

</html>