<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <div class="content unauthorized">
    <div class="top">
      <h1>Do you want to continue login?</h1>
    </div>
    <div class="content-bottom">
        <a class="btn btn-primary" href="/relogin">Yes </a>
        <p></p>
        <p></p>
        <a class="btn btn-secondary" data-dismiss="modal" href="/logout">No </a> 
    </div>
  </div>
  </div>
</body>

</html>