<!doctype html>
<html>
  <head>
    <title>Gitlab Oauth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
          body        { padding-top:70px; }
      </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h1 class="text-primary  text-center"><span class="fa fa-gitlab"></span> User Profile</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="well">
                <p>
                  <strong>Username</strong>: <%= userData.username %><br>
                  <strong>User ID</strong>: <%= userData.id %><br>
                    <strong>Email: </strong>: <%= userData.email %><br>
                    <strong>Last activity on: </strong>: <%= userData.last_activity_on %>
                </p>
                <a class="btn" href="/activities">Activities</a>
                <a class="btn" href="/logout">Log out</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>