<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">CRUD snippet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav">
            <li>
                <a href="./">Home</a>
            </li>
            <li>
                <a href="./user/profile">User's profile</a>
            </li>
            <li>
                <a href="./user/activities">User's activities</a>
            </li>
            <li>
                <a href="./user/logout">Logout</a>
            </li>
        </ul>
    </div>
    </nav>
</header>