<h1>Choose your way to login</h1>

<a class="btn"
      href="https://gitlab.lnu.se/oauth/authorize?client_id=${process.env.CLIENT_ID}&redirect_uri=${process.env.URI}"
    >
      Login with gitlab
    </a>
  
<a class="btn" href="./">CANCEL</a>