<h1>Please click the button to login in Gitlab</h1>

<a
      href="https://gitlab.lnu.se/oauth/authorize?client_id=${process.env.CLIENT_ID}&redirect_uri=${process.env.URI}"
    >
      Login with gitlab
    </a>
<a class="btn" href="./">CANCEL</a>