<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Oauth2 apps
        </h1>
        <h2>Hello and welcome to your apps</h2>
        <p>
            Top of the day to you!
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="./user/login" role="button">
                Get Started »
            </a>
        </p>
    </div>
</div>
<!-- /container -->